.contacts {
  &-page {
    @extend %responsive;
  }

  &__card {
    & > div {
      height: 200px;
      background-color: #acacac;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
